@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

<div @ref="dropZoneElement" class="drop-zone">
    <div class="overlay">
        <p>Drop File Here...</p>
    </div>

    @if (ChildContent != null)
    {
        @ChildContent
    }
    <InputFile OnChange="@OnChange" @ref="inputFile" hidden />
</div>

@code
{
    [Parameter]
    public string Value
    {
        get => content;
        set
        {
            if (value == content)
                return;

            content = value;
            if (ValueChanged.HasDelegate)
            {
                ValueChanged.InvokeAsync(content);
            }
        }
    }
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; } = null;

    ElementReference dropZoneElement;
    InputFile inputFile = null!;

    IJSObjectReference? _module;
    IJSObjectReference? _dropZoneInstance;

    string content = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Load the JS file
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./dropZone.js");

            // Initialize the drop zone
            _dropZoneInstance = await _module.InvokeAsync<IJSObjectReference>("initializeFileDropZone", dropZoneElement, inputFile.Element);
        }
    }

    // Called when a new file is uploaded
    async Task OnChange(InputFileChangeEventArgs e)
    {
        using var stream = e.File.OpenReadStream();
        using var ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        content = ms?.ToString() ?? ""
        ;

    }

    // Unregister the drop zone events
    public async ValueTask DisposeAsync()
    {
        if (_dropZoneInstance != null)
        {
            await _dropZoneInstance.InvokeVoidAsync("dispose");
            await _dropZoneInstance.DisposeAsync();
        }

        if (_module != null)
        {
            await _module.DisposeAsync();
        }
    }
}